body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 400px;
    height: min-content;
    padding: 20px;
    background-color: #282828;
    margin: 0;
    color: #333;
    margin: auto;
    margin-top: 100px;
}

html{
    height:100svh;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    color: #4682b4;
    text-decoration: underline;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #1d3557;
}

h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #457b9d;
}

h3 {
    font-size: 18px;
    color: #a8dadc;
    display: inline;
}

.headings {
    display: flex;
    justify-content: space-between;
}

.input-group {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #457b9d;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

button {
    padding: 10px 15px;
    background-color: #279185;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #44bba4;
}

button.add-friend {
    background-color: #1e90ff;
}

button.add-friend:hover {
    background-color: #4682b4;
}

#message {
    margin-top: 10px;
    font-size: 14px;
    color: #e63946;
}

.delete-friend{
    background-color: red;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: #457b9d;
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #1d3557;
}

li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

button.delete {
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.delete:hover {
    background-color: #d62839;
}

#statusIcon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}

#statusIcon::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
}

#statusIcon.valid::before {
    background-image: url('./assets/check.svg');
}

#statusIcon.invalid::before {
    background-image: url('./assets/cross.svg');
}

.tabs {
    display: flex;
    margin-bottom: 15px;
}

.tabs button {
    flex: 1;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background: #011c21;
    color: white;
    border: none;
    border-radius: 4px;
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s ease;
}

.tabs button.active {
    background: #fff;
    color: #15616d;
}

.filter-container {
    margin-bottom: 15px;
    display: block;
}

.filter-container h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #457b9d;
}

.filter-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #457b9d;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

tr {
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #457b9d;
    padding: 10px;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: #f1faee;
}

tbody tr:nth-of-type(1) td:first-of-type::before {
    content: '';
    background: url('./assets/first.svg') no-repeat;
    background-size: 24px 24px;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

tbody tr:nth-of-type(2) td:first-of-type::before {
    content: '';
    background: url('./assets/second.svg') no-repeat;
    background-size: 24px 24px;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

tbody tr:nth-of-type(3) td:first-of-type::before {
    content: '';
    background: url('./assets/third.svg') no-repeat;
    background-size: 24px 24px;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}